body{
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(58, 58, 58);
}

.memory-app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board{
    position: relative;
    display: grid;
    background-color: rgb(87, 133, 173);
    width: 500px;
    height: 500px;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows:  100px 100px 100px 100px 100px;
}

.board__tile{
    background-color: bisque;
    border: 1px solid grey;
    cursor: pointer;
    
}

.board__tile:hover{
    background-color: rgb(255, 254, 223)
}

#board__button{
    margin-top: 50px;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu__level{
    font-size:50px;
    color: white
}

#counter{
    font-size: 350px;
    position:absolute;
    left:32%;
    top:10%;
}